@font-face {
  font-family: trispace;
  font-weight: 100 700;
  src: url('/trispace.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'fira code';
  font-weight: 100 700;
  src: url('/fira-code.woff2') format('woff2');
  font-display: swap;
}

:root {
  --font-body: 'trispace', sans-serif;
  --font-heading: 'trispace', sans-serif;
  --font-monospace: 'fira code', monospace;
}

html {
  font-family: var(--font-body), Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-heading), Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

code {
  font-feature-settings: 'calt';
  font-variant-ligatures: contextual;
}
